
body {
  background-color: rgba(172, 40, 40, 0.39);
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.menu li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
h1 {
  color: rgb(10, 79, 86);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-family: verdana;
  width: 100%;
}

#compressie {
  margin-right: 10px;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Afbeeldingen in cards */
.card img {
  float: left;
  margin-right: 20px;
  border-radius: 8px;
}

/* Video netjes erin gezet en afgerond */
iframe {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
.card {
  background: rgb(42, 149, 118);
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


